{% extends "base_admin.html" %}
{% load static %}

{% block content %}
<form method="POST">
    <img src="{% static 'tools/images/add_int_turning.jpg' %}">
    {% csrf_token %}
        <p class="ll">
        {{ form.name.label_tag}}{{ form.name }}
    </p>
    <p class="ll">
        {{ form.dmin.label_tag}}{{ form.dmin }}
        {{ form.ap.label_tag}}{{ form.ap }}
        {{ form.W.label_tag}}{{ form.W }}
        {{ form.Wp.label_tag}}{{ form.Wp }}
        {{ form.Lmax.label_tag}}{{ form.Lmax }}
    </p>
    <p class="ll">
        <button type="submit" class="but_2">Добавить</button>
    </p>
    {% if check %}
    <p class="rr">Обозначение уже используется</p>
    {% endif %}
    <p></p>
    {% if output.count > 0 %}
        <table align="center" cellspacing="5" cellpadding="5">
            <tr>
                <th>Наименование</th>
                <th>Dmin</th>
                <th>ap</th>
                <th>W</th>
                <th>Wp</th>
                <th>L</th>
            </tr>
            {% for i in output %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.dmin }}</td>
                    <td>{{ i.ap }}</td>
                    <td>{{ i.W }}</td>
                    <td>{{ i.Wp }}</td>
                    <td>{{ i.Lmax }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock content %}