{% extends "base_admin.html" %}
{% load static %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p class="ll">
        {{ form.name.label_tag }}{{ form.name }}
    <p/>
    <button type="submit" class="but_2">Удалить</button>
    <p></p>
    {% if output.count > 0 %}
        <table align="center" cellspacing="5" cellpadding="5">
            <tr>
                <th>Наименование</th>
                <th>Dmin</th>
                <th>ap</th>
                <th>h</th>
                <th>r</th>
                <th>L</th>
            </tr>
            {% for i in output %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.dmin }}</td>
                    <td>{{ i.ap }}</td>
                    <td>{{ i.h }}</td>
                    <td>{{ i.r }}</td>
                    <td>{{ i.Lmax }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock content %}